# Игнорировать архивы симулятора (Обязательно!)
*.tar
*.tar.gz

# Игнорировать временные и служебные файлы Windows/систем
*.save
*.Zone.Identifier
*.pyc
__pycache__/
.ipynb_checkpoints/

# Примечание: Файлы .dat (результаты) пока не удаляем,
# чтобы вы сами решили, нужны ли они.
